{
  "extends": [
    "next",
    // airbnb", "airbnb/hooks",
    "prettier"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },

  // "parserOptions": {
  //   "requireConfigFile": false,
  //   // "allowImportExportEverywhere": true,
  //   "sourceType": "module",
  //   "ecmaFeatures": {
  //     "jsx": true
  //   }
  // },
  // "settings": {
  //   "react": {
  //     "version": "detect"
  //   },
  //   "import/resolver": {
  //     "node": {
  //       "extensions": [".js", ".jsx", ".ts", ".tsx"]
  //     }
  //   },
  //   "import/internal-regex": "^next/"
  // },

  "rules": {
    "react/react-in-jsx-scope": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    // "react/function-component-definition": [
    //   1,
    //   {
    //     "namedComponents": "function-declaration"
    //   }
    // ],
    "react/function-component-definition": 0,
    "no-underscore-dangle": 0,
    "react/jsx-props-no-spreading": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": false }]
  }
}
