@tailwind base;

html {
  @apply antialiased bg-white;
  font-feature-settings: "ss03" 1;
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  .hyphens-auto {
    hyphens: auto;
  }

  .auto-lead > p:first-child {
    @apply font-medium font-sans;
  }

  .masonry-4-col {
    column-count: 4;
    column-gap: 2em;
  }

  .masonry-3-col {
    column-count: 3;
    column-gap: 2em;
  }

  .masonry-2-col {
    column-count: 2;
    column-gap: 2em;
  }

  .break-inside {
    break-inside: avoid;
  }

  .disambiguate {
    font-feature-settings:
      "ss01" 1,
      "ss04" 1;
  }

  .uppercase {
    font-feature-settings:
      "case" 1,
      "cpsp" 1,
      "cv08" 1;
  }
}
