@tailwind base;

html {
  @apply antialiased selection:bg-green-100;
}

@import "~@fontsource/inter/variable.css";
@import "~@fontsource/spectral/index.css";
@tailwind components;

@tailwind utilities;
@layer utilities {
  .hyphens-auto {
    hyphens: auto;
  }
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 2em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 2em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
