@tailwind base;

html {
  @apply antialiased selection:bg-green-100;
}

@import "~@fontsource/inter/variable.css";
@import "~@fontsource/jetbrains-mono/variable.css";

@tailwind components;

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="number"],
[type="date"],
[type="datetime-local"],
[type="month"],
[type="search"],
[type="tel"],
[type="time"],
[type="week"],
[multiple],
textarea,
select {
  @apply w-full mt-1 transition border-gray-200 rounded-md focus:border-blue-600 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}
[type="checkbox"] {
  @apply mx-2 rounded hover:cursor-pointer;
}
@tailwind utilities;
@layer utilities {
  .hyphens-auto {
    hyphens: auto;
  }
  @variants responsive {
    .masonry-4-col {
      column-count: 4;
      column-gap: 2em;
    }
    .masonry-3-col {
      column-count: 3;
      column-gap: 2em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 2em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}
